<main>
  <div class="login-container">
    <div>
      <h2>Page de connexion</h2>
    </div>
    <div class="login-input-div">
      <label for="id">Email</label>
      <input id="id" ng-model="login.id" name="id" type="email"/>
      <label for="password">Mot de passe</label>
      <input id="password"
             autocomplete="false"
             name="password" type="password"
             ng-model="login.password" />
    </div>
    <div class="login-action-div">
      <button ng-click="login.login()">Se connecter
      </button>
    </div>



  </div>
</main>